 .auto-style1 {
            width: 100%;
        }
        .auto-style8 {
            height: 541px;
        }

        .auto-style11 {
            text-align: left;
        }

        .auto-style12 {
            width: 231px;
            text-align: center;
        }

        .auto-style16 {
            text-align: left;
            font-size: large;
            font-family: "Microsoft YaHei";
        }

        .auto-style17 {
            font-size: x-large;
            font-family: "Microsoft YaHei";
        }

        .auto-style18 {
            width: 143px;
        }

        .auto-style19 {
            text-align: left;
            height: 84px;
        }

        .auto-style20 {
            height: 44px;
        }
